@import 'variables'
  
.ui

  &.header
    &.huger
      font-size: 3em

  &.cards
    &.stretch
      > .card
        flex-grow: 1

  &.card
    .extra.content.labels
      .label
        margin: 2px 1px

