@import 'variables'

@function css-function( $function, $values... ) 
	@return $function		+ unquote( '(' )		+ $values		+ unquote( ')' )

@function css-min( $values... ) 
	@return css-function( min, $values )

@function css-max( $values... ) 
	@return css-function( max, $values )

@function css-clamp( $values... ) 
	@return css-function( clamp, $values )

.ui

  .segment
    > .button
      margin-bottom: 5px

  &.header
    &.huger
      font-size: 3em

  &.buttons
    &.wrap
      flex-wrap: wrap

  &.cards
    &.stretch
      > .card
        flex: 1 0 auto

  &.card
    .extra.content.labels
      display: flex
      justify-content: space-between
      &::after
        display: none
      .label
        margin: 2px 1px

#ProjectCollection, #MinorProjectCollection
  .header.green
    color: rgb(33, 186, 69)

  .ui.buttons
    &.wrap
      flex-wrap: wrap
  .ui.card
    flex-basis: css-min(21em, 100%)

  .description
    .section
      margin-top: 1rem

      .header.small
        // color: rgba(33, 186, 69,0.8)
        margin-bottom: 5px
        padding-bottom: 5px
        border-width: 0 0 1px 0
        border-style: solid
        border-color: rgba(0,0,0,0.4)
        // transition: color 400ms
      .ui.labels
        margin-top: 0.5rem
        // opacity: 0.7
        // transition: opacity 400ms
        .label
          transition: background-color 400ms
          cursor: default
          &:hover
            background-color: rgb(210,210,210)

#SkillsCollection
  .ui.card
    flex-basis: css-min(16em, 100%)

.toggle 
  cursor: pointer
  transition: letter-spacing 300ms
  &:hover
    letter-spacing: 0.02rem

i.icon 
  transition: transform 300ms
  &.spin90
    transform: rotate(90deg)

